*{
    margin: 0;
    padding: 0;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  z-index: 900;
}
.nav {

  width: 100%;
  background-color: #000000;
  position: sticky;
  z-index: 900;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 40px;
  font-family: 'Merienda', cursive;
  color: white;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 14px;
  margin-right: 50px;
  margin-top: 8px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: white;
  font: 70px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
}

.nav > #nav-check {
  display: none;
}

#container {
  height: 500px;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#mainView {
 
  height: 684px;
  width: 468px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;
  margin-top: 245px;

}
#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;
   
}

#leftView {
  height: 500px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  margin-top: 285px;
  
}
#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 500px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  margin-top: 285px;
  
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  
}
#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag {
 
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

























@media  screen and (min-width: 765px) and (max-width: 1024px){

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 8px;
}


}

@media  screen and (min-width: 320px) and (max-width: 764px){

  .nav > .nav-header > .nav-title {
    
    margin-left: 0px;
    font-family: 'Merienda', cursive;
    color: white;
    padding: 10px 20px;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    padding: 17px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 3px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 35px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
   
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(20vh - 50px);
    overflow-y: auto;
  }
}
