*{

    margin: 0;
    padding:0;
}

body{

    background-color:#8c969d;
}

.nav {

    width: 100%;
    background-color:black;
    position: sticky;
    z-index: 900;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-signup {
    display: inline-block;
    font-size: 22px;
    padding: 18px 10px 10px 10px;
    margin-left: 70px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-signin {
    display: inline;
    float: right;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 8px;
    border: solid 3px;
    border-color: red;
    border-radius: 1vh;
  }
  
  .nav > .nav-signin > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(148, 142, 142);;
  }
  
  .nav > .nav-signin > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
  }
  
  .nav > #nav-check {
    display: none;
  }

.header{

    background: url('../img/photo-1489599849927-2ee91cede3ba.jfif');
    height: 400px;
    width:100%;
    background-position-y: 500px;
    z-index: -1;
    background-size: cover;
}

.header h1 {

    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 100px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 128px 0;
    color: white;
    
}


.vosu {

    width: 100%;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    

}

.metro{

    width:50%;
    height: 500px;
    background-color: red;

}

.descri{

    width:50%;
    height: 500px;
    background-color: aquamarine;
}