*{

    margin: 0;
    padding:0;
}

body{

    background-color:#3d4042;
    box-sizing: border-box;
}


button {
  display: block;
  background: white;
  margin:0 auto;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding:0.8em 2em;
  border-radius: 5px;
  border:0;
}
.nav {

    width: 100%;
    background-color:black;
    position: sticky;
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-signup > input{
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    margin-left: 70px;

    background-color: #343536;
    color: white;
    border: solid 1px #343536;
    border-radius: 2vh;
    margin-top: 10px;
    
  }

  .nav > .nav-header > .nav-signup > input:hover{
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    margin-left: 70px;
    background-color: #777272;
    color: white;
    border: solid 1px rgb(104, 101, 101);
    border-radius: 2vh;
    margin-top: 10px;
    
  }
  
  
  .nav > .nav-signin {
    display: inline;
    float: right;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 15px;
    border: solid 3px;
    border-radius: 1vh;
    background-color: #030d14;
    appearance: none;
  }

  .nav > .nav-signin > input{
    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    background-color: #343536;
    color: white;
    border: solid 1px #343536;
    border-radius: 2vh;
    margin-top: -5px;
}
    
  

  .nav > .nav-signin > input:hover{

    display: inline-block;
    font-size: 22px;
    padding: 10px 10px 10px 10px;
    background-color: #777272;
    color: white;
    border: solid 1px rgb(104, 101, 101);
    border-radius: 2vh;
    margin-top: -5px;
  }
  
  .nav > .nav-signin > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(148, 142, 142);
  }
  
  .nav > .nav-signin > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
  }
  
  .nav > #nav-check {
    display: none;
  }

.header{

    background: url('../img/imageedit_1_6969385592.jpg');
    height: 700px;
    width:100%;
    background-position-y: -300px;
    z-index: -1;
    background-size: cover;
}

.header h1 {

    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 100px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 217px 0;
    color: white;
    
}


.vosu {

    width: 97%;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    justify-content: space-around;
    

}

.metro{

    width:40%;
    height: 400px;
    background: url("../img/istockphoto-534129330-612x612.jpg");


}

hr{

  background-color: black;
  border-color: black;
  height: 300px;
  margin-top: 50px;
}
.descri{

    width:35%;
    height: 400px;
    padding: 0px 10px;
    
}

.descri h2 {

  font-family: 'Merienda', cursive;
  padding: 26px 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.descri p {

  font-size: 30px;
  justify-content: center;
  color: white;
}

.descri span{

  font-family: 'Merienda', cursive;
}

.parallax{
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax:before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #18191a, transparent);
  z-index: 10000;
}
.parallax:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #030d14;
  z-index: 10000;
  mix-blend-mode: color;

}
.parallax img{
  position: absolute;
  top: 108px;
  left: 0;
  width: 127%;
  height: 157%;
  object-fit: cover;
  pointer-events: none;
  align-content: right;

}

.metropolis{ 

  width: 100%;
  height: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;
 
}

.arthas{

  width: 50%;
  height: 430px;
  background-color: rgb(219, 216, 216);
  
}
.jaina {

  width: 50%;
  height: 430px;
  background: url("../img/164612268745710998.jfif");
  
}

.arthas h2{

  font-family: 'Merienda', cursive;
  padding: 26px 30px;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

.arthas p{

  font-size: 30px;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 30px;
}

.arthas span{

  font-family: 'Merienda', cursive;
}

footer {
  width: 100%;
  text-align: center;
  padding: 160px 50px 5 50px;
  height: 18%;
  background: rgba(26, 24, 24, 0.74);
 padding-top: 30px;

}

footer p {

  font-family: 'Merienda', cursive;
  color:white
}

footer h3 {
  padding: 15px 0 60px 0;
  font-size: 2.5em;
  color: white;
  font-family: 'Merienda', cursive;
}

.footer-icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-top: 0;
  color: white;
}
.network {
  font-size: 4em;
  border: 1px solid #d6d6d6;
  padding: 30px 45px;
  color: #ffffff;
  z-index: 1;
  border-radius: 50%;
}
.network:hover {
  background: #353535;
  color: #e2dedb;
  transition: all 0.3s ease-in-out;
}

.arrow {
  margin: -20 auto;
  margin-top: 5%;
  padding-top: 15px;
  margin-bottom: 0;
  font-family: 'Merienda', cursive;
  color: #312f2f;
}


.arrow a {
  font-size: 3em;
  border: none;
  color: #b9b3b3;
}
.arrow:hover i {
  transform: scale(1.6);
  transition: 0.5s ease-in-out;
  color: #ffffff;
}

footer p {
  font-size: 1.2em;
  letter-spacing: 0.7em;
  margin-bottom: 0;
}



@media (max-widht: 320px) {
  .network {
    font-size: 0.8em;
    margin-left: -5%;
    margin: 0;
  }
  .footer p {
    font-size: 1.2em;
  }
}

@media screen and (min-width:600px) and (max-width:1024px){

  .parallax{

    display:none;
  }

  .header{

    justify-content: center;
    height: 350px;
  }

  .header h1{

    text-align: center;
    padding: 100px 0px;
  }

  .vosu{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 720px;
    padding-left: 0;
    padding-right: 0;
  }

  .metro{
    width: 65%;
    height: 400px;
  }

  .descri{

    width: 100%;
    height: 400px;
    padding: 30px 90px;
    text-align: center;
  }

  hr{

    display: none;
  }

  .metropolis{

    display: flex;
    flex-wrap:wrap-reverse;
  
  }

  .jaina{

    width: 100%;
    height: 400px;
    background-position:cover;
    background-position-x:150px ;
  }

  .arthas{

    width: 100%;
    height: 400px;
    text-align: center;
  }

  .footer{

    margin-top: 0px;
  }
}

@media screen and (min-width:324px) and (max-width:600px){

  .parallax{

    

    display:none;
  }

  .nav {

    width: 100%;
    background-color:black;
    position: sticky;
    z-index: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  }

  .header{

    justify-content: center;
    height: 350px;
    width: 100%;
    background-position-y: 10px;
  }

  .header h1{

    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 50px;
    padding: 138px 0;
    color: white;
  }

  .vosu{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 770px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .metro{
    width: 80%;
    height: 400px;
    background-position-x: -145px;
  }

  .descri{

    width: 100%;
    height: 400px;
    text-align: center;
 
  }

  hr{

    display: none;
  }

  .metropolis{

    display: flex;
    flex-wrap:wrap-reverse;
    width: 100%;
  
  }

  .jaina{

    width: 100%;
    height: 400px;
    background-position:cover;
    background-position-x: -90px;
  }

  .arthas{

    width: 100%;
    height: 400px;
    text-align: center;
  }

  footer{

    margin-top: 0px;
   
  }

.footer-icons{
 
  display: flex;
  justify-content: space-between;
  max-width: 60%;
  margin-top: 0;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: space-evenly;
}

.network {
  font-size: 50px;
  border: 1px solid #d6d6d6;
  color: #ffffff;
  z-index: -1 !important;
  border-radius: 67%;
}

.twitter {

  margin-bottom: 80px;
}

.facebook{

  margin-bottom: 80px;
}

.instagram{

  margin-bottom: 80px;
}
}
