*{

    margin: 0;
    padding:0;
}

body{

    background-color:#3d4042;
}

.nav {

    width: 100%;
    background-color:black;
    position: sticky;
    z-index: 900;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-signup {
    display: inline-block;
    font-size: 22px;
    padding: 18px 10px 10px 10px;
    margin-left: 70px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-signin {
    display: inline;
    float: right;
    font-size: 14px;
    margin-right: 50px;
    margin-top: 8px;
    border: solid 3px;
    border-color: red;
    border-radius: 1vh;
  }
  
  .nav > .nav-signin > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgb(148, 142, 142);;
  }
  
  .nav > .nav-signin > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
  }
  
  .nav > #nav-check {
    display: none;
  }

.header{

    background: url('../img/imageedit_1_6969385592.jpg');
    height: 400px;
    width:100%;
    background-position-y: 500px;
    z-index: -1;
    background-size: cover;
}

.header h1 {

    font-family: 'Merienda', cursive;
    text-align: center;
    font-size: 100px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 128px 0;
    color: white;
    
}


.vosu {

    width: 97%;
    height: 400px;
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    justify-content: space-around;
    

}

.metro{

    width:40%;
    height: 400px;
    background: url("../img/istockphoto-534129330-612x612.jpg");


}

hr{

  background-color: black;
  border-color: black;
  height: 300px;
  margin-top: 50px;
}
.descri{

    width:35%;
    height: 400px;
    padding: 0px 10px;
    
}

.descri h2 {

  font-family: 'Merienda', cursive;
  padding: 26px 30px;
  text-align: center;
  font-size: 30px;
  color: white;
}

.descri p {

  font-size: 30px;
  justify-content: center;
  color: white;
}

.descri span{

  font-family: 'Merienda', cursive;
}

.parallax {

  width: 100%;
  height: 400px;
  background: url("../img/le-voyage-dans-la-lune.jpg");
  
}

.metropolis{

  width: 100%;
  height: 400px;
  height: 400px;
  display: flex;
  flex-direction: row;


}

.arthas{

  width: 50%;
  height: 400px;
  background-color: rgb(219, 216, 216);
}
.jaina {

  width: 50%;
  height: 400px;
  background: url("../img/164612268745710998.jfif");

}

.arthas h2{

  font-family: 'Merienda', cursive;
  padding: 26px 30px;
  text-align: center;
  font-size: 30px;
}

.arthas p{

  font-size: 30px;
  justify-content: center;
  padding: 10px 10px;
}

.arthas span{

  font-family: 'Merienda', cursive;
}